################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HylandMedConfig/v15/Server/sqlite3
/HylandAnimatedGif/bin/x86/Debug
/HylandAnimatedGif/obj/x86/Debug
/HylandIMServer/bin/Debug
/HylandIMServer/obj/x86/Debug
/HylandMedConfig/bin/x86/Debug
/HylandMedConfig/obj/x86/Debug
/HylandMedConfig.Bot/bin/x86/Debug
/HylandMedConfig.Bot/obj/x86/Debug
/HylandMedConfig.Emoticons/bin/x86/Debug
/HylandMedConfig.Emoticons/obj/x86/Debug
/HylandMedConfig.Bot/obj
/HylandMedConfig/obj
